<header>
  <div class="navbar">
    <div class="container"> 
      <div class="brand"> BREAKING </div>
      <ul class="nav pull-right">
        <!-- <li><%= link_to "Home", root_path %></li> -->
        <%# TODO: Add name in the nav bar %>
        <% if logged_in? %>
          <li> <%= link_to "Profile", current_user, class: 'btn btn-transparent btn-small', id: 'profile-button' %> </li>
          <li><%= link_to "Log out", logout_path, method: 'delete', class: 'btn btn-transparent btn-small', id: 'logout-button' %></li>
        <% else %>
          <li><%= link_to "Sign up", signup_path, class: "btn btn-transparent btn-small", id: 'signup-button' %></li>
          <li><%= link_to "Log in", login_path, class: "btn btn-transparent btn-small", id: 'login-button' %></li>
        <% end %>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>

  <div id="user-name"><%= current_user %></div>
</header>
